{% extends 'jaguarettekaa/layout.html' %}

{% load static %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="p-3 mt-5">   
                    <img src="{% static 'jaguarettekaa/img/fondo.jpg' %}" class="d-block mx-lg-auto img-fluid shadow p-3 mb-5 bg-body rounded" alt="Fondo Musical" width="700" height="500">
                </div>
            </div>
            <div class="col-md-6">

            </div>    
        </div>
    </div>
{% endblock %}