<!doctype html>
<html lang="es">
<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JAGUARETTE KAA | POLOTIC</title>
    {% block css %}

    {% endblock %}    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'jaguarettekaa/css/styles.css' %}">
    
</head>
<body>
    <!-- Encabezado con LOGO | LOGIN | REGISTRO -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <i class="bi bi-music-note-list"></i>
                    <span class="navbar-brand mb-0 h1">JAGUARETTE KAA</span>
                </a> 
                {% block login %}

                {% endblock %}               
                <div class="navbar-collapse justify-content-end me-auto mb-2 mb-lg-0" id="navbarToggler">
                    <a class="btn btn-danger" href="#">REGISTRARSE</a>                  
                    
                    {% if user.is_autenticated %}                       
                        <a class="btn btn-success mx-2" href="{% url 'logout' %}" role="button">CERRAR SESIÓN</a>    
                        <a class="btn btn-warning mx-2" href="#"><i class="bi bi-person-check"> <span class="text-white">Hola!</span> {{ user.get.username }}</a>                   
                    {% else %} 
                        <a class="btn btn-success mx-2" href="{% url 'login'%}?next={{request.path}}">ACCEDER</a>                   
                    {% endif %}
                    <a class="btn btn-info text-white" href="#"><i class="bi bi-cart-plus-fill"></i></a>
                </div>   
            </div>
        </nav>
    </header>
    <!-- Menú Navagación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-2 mb-0 bg-body rounded">
        <div class="container">
            <button class="navbar-toggler my-3" type="button" data-bs-toggle="collapse" data-bs-target="#navPrincipal" aria-controls="navPrincipal" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="navPrincipal">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    
                        <a class="nav-link active fw-bolder bg-info text-white text-center" aria-current="page" href="{% url 'index'  %}">Home</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link text-info fw-bolder text-center" href="{% url 'acerca_de' %}">Acerca De</a>
                    </li>                    
                    <li class="nav-item ms-2 dropdown">
                        <a class="nav-link text-info fw-bolder text-center dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Categorías</a>
                        <ul class="dropdown-menu bg-light mb-0 border-0" aria-labelledby="navbarDropdown">
                                                
                            <li class="text-info text-center"><a class="dropdown-item text-info p-2 fw-bolder" href="#">{{ categoria }}</a></li>
                            <li class="text-primary mb-0"><hr class="dropdown-divider"></li>              
                                                                        
                        </ul>
                    </li>
                    <li class="nav-item  ms-2">
                        <a class="nav-link text-info fw-bolder text-center" href="{% url 'productos' %}">Productos</a>
                    </li>
                    <li class="nav-item  ms-2">
                        <a class="nav-link text-info fw-bolder text-center" href="mailto:antogenia7@hotmail.com">Contacto</a>
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- Conetnido Principal -->
    <div id="main_content">
        {% block main_content %}

        {% endblock %}
    </div>
    <!-- Pie de Página -->
    <footer class="bg-dark p-2 text-white text-center">
        <div class="container-fluid">
            <div class="row">                
                <div class="col-md-12 text-white p-3">                
                    <h5 class="text-secondary">JAGUARETTE KAA S.A. 2021 &copy; Todos los Derechos Reservados</h5>                    
                    <cite title="Source Title">Desarrollado por Antonella Catanzano</cite> 
                                                                                
                </div>
            </div>
        </div> 
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% block js %}

    {% endblock %}
</body>
</html>